{{#bs-form
  class="form"
  formLayout=formLayout
  model=this
  onSubmit=(action "createSpot")
as |form|
}}
  <div data-test="name">
    {{form.element
      controlType="input"
      label="Name"
      placeholder="Name"
      property="name"
      required=true
    }}
  </div>
  <div data-test="address">
    {{form.element
      controlType="input"
      label="Address"
      placeholder="Address"
      property="address"
      required=true
    }}
  </div>
  <div data-test="hours">
    {{form.element
      controlType="input"
      label="Operating hours"
      property="hours"
    }}
  </div>
  <div data-test="review">
    {{form.element
      controlType="textarea"
      label="Review"
      property="review"
    }}
  </div>
  <AsyncButton
    @defaultText="Add"
    @pendingText="Adding..."
    @onClick={{action "createSpot"}}
  />
{{/bs-form}}


{{!-- for testing purpose --}}
<form
  class="form hidden"
  formLayout="formLayout"
  onsubmit={{action "createSpot"}}
>
  <div class="form-group">
    <label for="name">Name: </label>
    {{input
      class="form-control"
      type="text"
      name="name"
      id="name"
      value=name
    }}
  </div>

  <div class="form-group">
    <label for="address">Address: </label>
    {{input
      class="form-control"
      type="text"
      name="address"
      id="address"
      value=address
    }}
  </div>

  <div class="form-group">
    <label for="hours">Operating hours: </label>
    {{input
      class="form-control"
      type="text"
      name="hours"
      id="hours"
      value=hours
    }}
  </div>

  <div class="form-group">
    <label for="review">Review: </label>
    {{textarea
      class="form-control"
      id="review"
      name="review"
      rows="5"
      cols="80"
      value=review
    }}
  </div>

  <button
    data-test="add"
    type="submit"
    onclick={{action "createSpot"}}
  >
    Add
  </button>

</form>
