{{!-- <form onsubmit={{action "editSpot"}}>
  <div class="">
    <label for="name">Name: </label>
    {{input type="text" name="name" id="name" value=model.name}}
  </div>

  <div class="">
    <label for="address">Address: </label>
    {{input type="text" name="address" id="address" value=model.address}}
  </div>

  <div class="">
    <label for="hours">Operating hours: </label>
    {{input type="text" name="hours" id="hours" value=model.hours}}
  </div>

  <div class="">
    <label for="review">Review: </label>
    {{textarea name="review" rows="8" cols="80" value=model.review}}
  </div>

  <button type="submit">Confirm</button>
</form> --}}
<h6>Edit the spot</h6>
{{#bs-form
  class="form"
  formLayout=formLayout
  model=model
  onSubmit=(action "editSpot")
as |form|
}}
  <div data-test="name">
    {{form.element
      controlType="input"
      label="Name"
      placeholder="Name"
      property="name"
      required=true
    }}
  </div>
  <div data-test="address">
    {{form.element
      controlType="input"
      label="Address"
      placeholder="Address"
      property="address"
      required=true
    }}
  </div>
  <div data-test="hours">
    {{form.element
      controlType="input"
      label="Operating hours"
      property="hours"
    }}
  </div>
  <div data-test="review">
    {{form.element
      controlType="textarea"
      label="Review"
      property="review"
    }}
  </div>
  {{!-- {{bs-button
    defaultText="Save"
    type="dark"
    outline="true"
    class="button"
    buttonType="submit"}} --}}
  <AsyncButton
    data-test="save"
    @defaultText="Save"
    @pendingText="Saving..."
  />
{{/bs-form}}
